#Maven
target/

#Eclipse
.settings/
.project
.classpath
logs/
.externalToolBuilders/
*.launch
bin

#Idea
.idea
*.iml
out

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

*~

*.class

# Package Files #
*.jar
*.war
*.ear
